{% extends 'base.html'%}
{%block title%}About{%endblock%}
    
{%block content%}
<div class="container">
<h1>About Us</h1>
<p style="font-family: Georgia, 'Times New Roman', Times, serif;">Aster Medcity, set in a soothingly beautiful 40-acre waterfront campus, is a 670-bed quaternary care facility & one of the best hospital in Kochi, Kerala. Fulfilling the vision and dream of Dr. Azad Moopen, its beloved chairman, the center has been delivering quality healthcare at affordable cost through its Centres of Excellence and a multi-specialty hospital since 2013. It is the first JCI accredited quaternary care multispecialty hospital in the state and combines the best of talent and technology to provide holistic treatment with a multidisciplinary approach.</p>

    <p style="font-family: Georgia, 'Times New Roman', Times, serif;">Across the years, Aster Medcity has evolved into a medical destination - one that attracts not just thousands of patients across the world; but also attracts and nurtures the best talent, keeps upgrading technology as well as fosters research, education and a distinctive work culture that is ethically and socially relevant.</p>
    
    <p style="font-family: Georgia, 'Times New Roman', Times, serif;">Kerala's first quaternary care hospital, Aster Medcity has also been accredited by NABH, received NABH certification for Nursing Excellence, Green OT (Green Operation Theatres) Certification by Bureau Veritas all within a year of opening its door to the world.
    
    </p>
<h3>Location</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15714.676944656636!2d76.25882678715821!3d10.044129199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08121955555593%3A0x58437a57aa75f29b!2sAster%20Medcity!5e0!3m2!1sen!2sin!4v1697524659825!5m2!1sen!2sin" width="1300" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br>
<br>
<i class="bi bi-whatsapp"></i>
<br>
<br>
</div>
{%endblock%}